.DS_Store
.idea/
/target
*.iml
**/*.rs.bk
Cargo.lock
!/tests/guests/log_guest/Cargo.lock
!/tests/guests/query_guest/Cargo.lock
!/tests/guests/write_query_guest/Cargo.lock
tests/pg_regress/results
tests/pg_regress/regression.diffs
tests/pg_regress/regression.out
fixtures/components/**/target/
